{
	"tabWidth": 2,
	"useTabs": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"endOfLine": "lf",
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "es5"
}
